<!DOCTYPE html>
<html class="no-js css-menubar" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "skin/template :: head" />
<style>

td.details-control {
    background: url('assets/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('assets/images/details_close.png') no-repeat center center;
}
</style>

<body class="animsition site-navbar-small ">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div th:replace="skin/sidemenu :: topandsidemenu"></div> 
  

  <!-- Page -->
  <div class="page">
    <div class="page-content">
      <div class="row">
      <div class="col-sm-12">
      
      <div class="example-wrap">
                <div class="nav-tabs-vertical" data-plugin="tabs">
                  <ul class="nav nav-tabs mr-25" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#exampleTabsLeftOne"
                        aria-controls="exampleTabsLeftOne" role="tab">Raise Demand</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#demandindraftmode"
                        aria-controls="demandindraftmode" role="tab">Demand in Draft Mode</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#demandinfinalisedmode"
                        aria-controls="demandinfinalisedmode" role="tab">Finalised Demand</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#searchDemand"
                        aria-controls="searchDemand" role="tab">Search</a></li>
                  </ul>
                  <div class="tab-content py-15">
                    <div class="tab-pane active" id="exampleTabsLeftOne" role="tabpanel">
                      <h4 class="text-danger"  th:text="${failure}"> </h4>
									<h4 class="text-success" th:text="${success}"></h4>
									<h4 class="text-danger" th:text="${draft}"></h4>

									<h3 class="font-size-24" id="dmd">Demand Master</h3>
									<form th:action="@{/submitdemand}" method="post">

										<div class="container" id="formobject">
											<div class="row">
												<div class="col-sm-3">

													<select name="codeHeadId" class="form-control"
														id="codeHead">
														<option value="">Select Code Head</option>
														<option th:each="ch : ${onlyahq}" th:value="${ch.id}"
															th:utext="${ch.codeHeadDescription}" />
													</select> <span class="codeheadid error text-danger"></span>

												</div>
												<div class="col-sm-3">
													<select name="itemTypeId" class="form-control"
														id="itemTypeId">
													</select> 
													<span class="itemtypeid error text-danger"></span>

												</div>
												<div class="col-sm-3">
													<select name="itemSubTypeId" class="form-control"
														id="itemSubTypeId">
													</select> <span class="itemsubtypeid error text-danger"></span>

												</div>
												<div class="col-sm-3">
													<input type="number" class="form-control empty"
														id="itemQty" name="itemQty" placeholder="Item Qty">
													<span class="itemqty error text-danger"></span>

												</div>
											</div>
											<div class="row mt-2">
												<div class="col-sm-3">
													<select name="demandReason" class="form-control"
														id="demandReason">
														<option value="">Select Demand Reason</option>
														<option value="Against Downgradation">Against
															Downgradation</option>
														<option value="Fresh">Fresh</option>
													</select> <span class="demandreason error text-danger"></span>

												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control empty"
														id="demandAuth" name="demandAuth"
														placeholder="Demand Authority"> <span
														class="demandauth error text-danger"></span>
												</div>

												<div class="col-sm-4">
													<button type="submit" id="addmoreitem" name="addmoreitem"
														class="btn btn-primary">Preview</button>
												</div>
											</div>
										</div>
									</form>
									<hr />
									<div id="moreitem">
										<form th:action="@{/submitdemand}" method="post">
											<table id="moreitemshow"
												class="table table-bordered table-hover specialCollapse"
												style="margin-bottom: 0px">
												<thead class="thead-dark">
													<tr>

														<th style="text-align: center">Code Head</th>
														<th style="text-align: center">Item Type</th>
														<th style="text-align: center">Item Sub Type</th>
														<th style="text-align: center">Qty</th>
														<th style="text-align: center">Reason</th>
														<th style="text-align: center">Auth</th>
														<th style="text-align: center">#</th>
													</tr>
												</thead>
												<tbody id="pushdata">


												</tbody>

											</table>
											<div class="row mt-2">
												<div class="col-sm-2">
												</div>

												<div class="col-sm-2">
													<button type="submit" name="saveasdraft" id="draftdemand"
														class="btn btn-danger">Save as Draft</button>
												</div>
												<div class="col-sm-2">
													<button type="submit" id="raisedemand" name="saveandsubmit"
														class="btn btn-success">Save & Submit</button>
												</div>
											</div>
										</form>
									</div>




								</div>
                    <div class="tab-pane" id="demandindraftmode" role="tabpanel">
                   
    									<table id="finaldemanddatatable" class="table table-hover dataTable table-striped w-full">
											<thead class="thead-dark">
												<tr>
													<th>Demand No.</th>
													<th>Unit</th>
													<th>Demand Date</th>
													<th>View</th>
												</tr>
											</thead>

											<tbody>
												<tr th:each="dm : ${demandmode}">
													<td th:text="${dm.demandMasterNo}" />
													<td th:text="${dm.unitId.unitName}" />
													<td th:text="${#dates.format(dm.demandNoGeneratedOn, 'dd-MMM-yyyy')}" />
													<td><a th:href="@{'/fetchdemanddata/' + ${dm.id}}" class="fetchmoredatafordemand btn btn-success"
													data-target="#showmoreitemsofdemandno" data-toggle="modal">
													<i class="md-eye"></i></a></td>
												</tr>
												<tr id="showalldata"></tr>
											</tbody>

										</table>
										
                    </div>
                    <div class="tab-pane" id="demandinfinalisedmode" role="tabpanel">
                      <table id="finaldemanddatatable" class="table table-hover dataTable table-striped w-full">
											<thead class="thead-dark">
												<tr>
													<th>Demand No.</th>
													<th>Unit</th>
													<th>Demand Date</th>
													<th>View</th>
												</tr>
											</thead>

											<tbody>
												<tr th:each="dm : ${fetchDemandNO}">
													<td th:text="${dm.demandMasterNo}" />
													<td th:text="${dm.unitId.unitName}" />
													<td th:text="${#dates.format(dm.demandNoGeneratedOn, 'dd-MMM-yyyy')}" />
													<td><a th:href="@{'/fetchdemanddata/' + ${dm.id}}" class="fetchmoredatafordemand btn btn-success"
													data-target="#showmoreitemsofdemandno" data-toggle="modal">
													<i class="md-eye"></i></a></td>
												</tr>
												<tr id="showalldata"></tr>
											</tbody>

										</table>
                    </div>
                    <div class="tab-pane" id="searchDemand" role="tabpanel">
									<!-- <form th:action="@{/fetchdemand}" method="post">
										<div class="row">
											<div class="col-sm-3">
												<input class="form-control" type="text" name="demandNo"
													id="demandNo" placeholder="Enter Demand No" />
													<span class="demandno error text-danger"></span>
											</div>
											<div class="col-sm-2">
												<button type="submit" name="seachDemand" id="seachDemand" class="btn btn-success">Search</button>
											</div>
										</div>
									</form>
 -->
									<div class="row mt-2">
										<!-- <table
											class="table table-hover dataTable table-striped w-full"
											id="exampleTableTools demandSearchTable">
											<thead class="thead-dark">
												<tr>
													<th>Demand No</th>
													<th>Code Head</th>
													<th>Item Type</th>
													<th>Sub Type</th>
													<th>Qty</th>
													<th>Reason</th>
													<th>Authority</th>
													<th>Status</th>
												</tr>
											</thead>

											<tbody>
												<tr th:each="dm : ${dmdsearch}">

													<td th:text="${dm.demandNo}" />
													<td th:text="${dm.codeHeadId.codeHeadDescription}" />
													<td th:text="${dm.itemTypeId.itemDescription}" />
													<td th:text="${dm.itemSubTypeId.subTypeDesc}" />
													<td th:text="${dm.itemQty}" />
													<td th:text="${dm.demandReason}" />
													<td th:text="${dm.demandAuth}" />
													<td th:text="${dm.demandStatus}" />

												</tr>
											</tbody>

										</table> -->

									</div>
						
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
    
                  <!-- View More Item of Demand -->
                  <div class="modal fade modal-just-me" id="showmoreitemsofdemandno" aria-hidden="true"
                    aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-simple">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="btn btn-danger">&times;</span>
                          </button>
                          <b>Demand No:</b>&nbsp; <h5 id = "demandNoHeader" class="modal-title text-primary"></h5>
                        </div>
                        <div class="modal-body">
                         
                         <table class="table table-hover dataTable table-striped w-full" id="exampleTableTools demandSearchTable">
											<thead class="thead-dark">
												<tr>
													
													<th>Code Head</th>
													<th>Item Type</th>
													<th>Sub Type</th>
													<th>Qty</th>
													<th>Reason</th>
													<th>Authority</th>
													<th>Status</th>
												</tr>
											</thead>

											<tbody id="databydemandno">
											</tbody>
										</table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Modal -->
                  
      </div>
      
      </div>
      
      
    </div>
  </div>
  <!-- End Page -->


  <!-- Footer -->
  <div th:replace = "skin/template :: footer"></div>
  <script src="assets/js/DemandJ.js"></script>
  
  
</body>


</html>