<!DOCTYPE html>
<html class="no-js css-menubar" lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="skin/template :: head" />
<style>
#subtypeformdiv{
display: none;
}
</style>

<body class="animsition site-navbar-small ">
<div th:replace="skin/sidemenu :: topandsidemenu"></div>


	<!-- Page -->
	<div class="page">
		<div class="page-content">
		<h4 class="text-danger" th:text="${failure}"></h4>
		<h4 class="text-success" th:text="${updatesuccessitemsubtype}"></h4>
		<h4 class="text-danger" th:text="${deletesuccess}"></h4>
					<h4 class="text-success" th:text="${success}"></h4>
					<h3 class="font-size-24">Item Sub Type Master</h3>
					<div id="subtypeformtoggle">
					<button id="btnone" class="btn btn-success"><i class="md-plus-square"></i>&nbsp;Click to Add</button>
					</div>
					<div class="container border border-success mt-2" id="subtypeformdiv">
					<form th:action="@{/submititemsubtype}" method="post">
					<div class="row">
							<div class="col-sm-3">
							<div class="form-group form-material floating"
							data-plugin="formMaterial">
								<select name="itemTypeId" class="form-control" id="itemTypeId">
									<option value="">Select Item Type</option>
									<option th:each="item : ${itemtype}" th:value="${item.id}" th:utext="${item.itemDescription}" />
								</select> <span class="itemTypeId error text-danger"></span>
							</div>
							</div>
							<div class="col-sm-3">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<input type="text" class="form-control empty" id="subTypeDesc" name="subTypeDesc"> 
								<label class="floating-label" for="subTypeDesc">Enter Item Sub Type</label>
								 <span class="subTypeDesc error text-danger"></span>
							</div>
							</div>

							<div class="col-sm-3">
							<div class="form-group form-material floating"
							data-plugin="formMaterial">
								<input type="text" class="form-control empty" id="subItemPrice" name="subItemPrice" required="required">
								 <label class="floating-label" for="subItemPrice">Price</label>
								  <span class="subItemPrice error text-danger"></span>
							</div>
							</div>
							<div class="col-sm-3">
							<div class="form-group form-material floating"
							data-plugin="formMaterial">
							<button type="submit" class="btn btn-primary btn-block" id="itemtypesubmit">Add Item Sub Type!</button>
							</div>
							</div>

						</div>

						
					</form>
					</div>


		<br />
			<div class="row">
				<div class="col-sm-12">
					<table class="table table-hover dataTable table-striped " id="subitemlistdata">
						<thead class="thead-dark">
							<tr>
								<th>Item Sub Type</th>
								<th>Item Type</th>

								<th>Action</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="it : ${subTypeItem}">

								<td th:text="${it.subTypeDesc}" />
								<td th:text="${it.itemTypeId.itemDescription}" />

								<td>
									<a th:href="@{'/fetchitemsubtypedata/' + ${it.id}}"
									class="fetchitemsubtypedata btn btn-success"
									data-target="#showitemSubType" data-toggle="modal"> <i
										class="md-eye"></i></a> | <a th:href="@{'/deleteitemsubtype/' + ${it.id}}"
									class="btn btn-danger" onclick="return confirm('Are you sure to Delete?')"> <i
										class="md-delete"></i></a></td>
								
							</tr>
						</tbody>
					</table>

				</div>
			</div>
			<!-- Edit section of Item Sub Type -->
			<div class="modal fade modal-just-me" id="showitemSubType"
				aria-hidden="true" aria-labelledby="exampleModalTitle" role="dialog"
				tabindex="-1">
				<div class="modal-dialog modal-simple">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true" class="btn btn-danger">&times;</span>
							</button>


						</div>
						<div class="modal-body">

							<form th:action="@{updateItemSubType}" method="post">
							<table class="table table-hover dataTable table-striped w-full" >
											<thead class="thead-dark">
												<tr>
													
													<th>Item Type</th>
													<th>Item Sub Type</th>
													<th>Price</th>
													
												</tr>
											</thead>

											<tbody id="itemsubtypeupdate">
											
											</tbody>
										</table>	
										<p id="updatebuttonforitemsubtype"></p>

							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->



		</div>


	</div>
	</div>
	<!-- End Page -->


	<!-- Footer -->
	<div th:replace="skin/template :: footer"></div>

	<script>
  $(document).ready(function(){
	  
	  $("#subtypeformdiv").hide();
	  
	  $("#subtypeformtoggle").on('click',function(){
		 $("#subtypeformdiv").toggle();
		  
	  });
	  
	
	  $("#itemtypesubmit").on('click',function(){
		 var subTypeDesc = $("#subTypeDesc").val();
		  
		 if(subTypeDesc == null || subTypeDesc == '')
			{
			$("#subTypeDesc").closest('.form-group').addClass('has-error');
			$(".subTypeDesc").html("*Enter Item Sub Type.");
			$("#subTypeDesc").focus();
			return false;
			}
		
	  });
	 
	 	  
	  $("#itemDescription").on('keypress', function(e){
			$("#itemDescription").closest('.form-group').removeClass('has-error');
			$(".itemdescription").html("");
		});
	  
	 
  });
  </script>
  
	<script src="assets/js/fetchItemSubType.js"></script>
	
</body>


</html>