<!DOCTYPE html>
<html class="no-js css-menubar" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "skin/template :: head" />
<body class="animsition site-navbar-small dashboard">
<div th:replace="skin/sidemenu :: topandsidemenu"></div> 
<!-- Page -->
<div th:replace = "skin/statpage :: statpage"></div>
<!--  Body Container Start -->
	
	
	
    





<!-- Body Container End -->
<div th:replace = "skin/template :: footer"></div>
<script src="assets/js/cmdnotification.js"></script>
<script>



</script>
</body>
</html>