<!DOCTYPE html>
<html class="no-js css-menubar" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "skin/template :: head" />
<body class="animsition site-navbar-small dashboard">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div th:replace="skin/sidemenu :: topandsidemenu"></div> 
<!-- Page -->
<div th:replace = "skin/statpage :: statpage"></div>
<!--  Body Container Start -->

    





<!-- Body Container End -->
<div th:replace = "skin/template :: footer"></div>
</body>
</html>